.flowDesignerContainer {
    position: relative;
    overflow: hidden;
}

.playgroundContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.flowCanvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
}

.flowNode {
    position: absolute;
    width: 120px;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: move;
}

.flowNode .nodeContents {
    font-size: 14px;
    color: #333333;
    line-height: 40px; /* Vertically center the text */
}

.node-remove-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.node-remove-button:hover {
    background-color: #c0392b;
}

.custom-connection-overlay {
    position: absolute;
}

.connection-remove-button {
    width: 18px;
    height: 18px;
    background-color: #e74c3c;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.connection-remove-button:hover {
    background-color: #c0392b;
}

.controlsWrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flowToolbar {
    display: flex;
    gap: 10px;
}

.clearButton {
    background-color: #ff4d4d;
    width: 30px;
    height: 30px;
    background-color: #3498db;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clearButton:hover {
    background-color: #2980b9;
}

.zoomControlsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    align-items: flex-end;
}

.zoomButton {
    width: 50px;
    height: 30px;
    background-color: #3498db;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.zoomButton:hover {
    background-color: #2980b9;
}

.handButton {
    width: 50px;
    height: 30px;
    background-color: #3498db;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.handButton:hover {
    background-color: #2980b9;
}